  body {
    margin: 0
  }

  a {
    text-decoration: none
  }

  h3 {
    font-family:  'Open Sans', sans-serif;
  }
  #nav {
    height: 60px;
    width: 100%;
    position: absolute;
  }

  #bars{
    position: absolute;
    font-size: 20px;
    left: 95%;
    top: 30px;
    bottom: 3px;
    height: 30px;
    padding: 10px;
    width: 20px
  }

  #dropdown {
    height: 0px;
    width: 150px;
    top: 5px;
    position: relative;
    transition: height 300ms, background-color 300ms;
    right: 120px
  }

  .drop-item {
    opacity: 0;
    font-weight: lighter;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    display: block;
    text-align: right;
    right: 5px;
    padding-top: 20px;
    padding-right: 20px;
    transition: opacity 200ms
  }

  #bars:hover {
    background-color: #333333;
    color: white
  }
  #bars:hover #dropdown {
    height: 140px;
    background-color: #333333
  }

  #bars:hover .drop-item {
    opacity: 1;
    cursor: pointer;
  }

  #black_press_logo {
    position: relative;
    bottom: -1.2em;
    left: 2%
  }


  #stuff-one {
    position: relative;
    background-color: #111111;
    width: 100%;
    height: 30em;
    top: 65px;
    z-index: -200
  }

  .stuff-one-content {
    color: white;
    font-family: 'Open Sans', sans-serif;
  }

  #contentA {
    position: absolute;
    width: 45%;
    font-weight: 100px;
    left: 50%;
    top: 15%;
    line-height: 40px;
    font-size: 25px
  }


  #contentC {
    position: absolute;
    left: 50%;
    top: 250px;
    font-size: 15px;
    padding: 0;
    margin: 0;
    height: 25px;
    padding: 10px;
    padding-left: 35px;
    padding-right: 35px;
    border: 1px solid white;
    border-radius: 5px
  }

  #contentC:hover {
    background-color: rgba(255, 255, 255, 0.2)
  }

  #latte_art {
    position: absolute;
    left: 10%;
    top: 15%
  }

  #stuff-two {
    position: relative;
    width: 100%;
    height: 35em;
    top: 100px
  }

  .stuff-two-content {
    color: #222222;
    font-family: 'Open Sans', sans-serif;
  }

  #beans {
    position: absolute;
    left: 50%;
    top: 10%
  }

  #contentD {
    position: absolute;
    width: 45%;
    font-weight: 100px;
    line-height: 40px;
    font-size: 25px;
    text-align: right;
    margin: 0;
    top: 10%
  }

  #contentE {
    position: absolute;
    top: 320px;
    font-size: 15px;
    padding: 0;
    margin: 0;
    height: 25px;
    padding: 10px;
    padding-left: 35px;
    padding-right: 35px;
    border: 1px solid #222222;
    border-radius: 5px;
    text-align: right;
    left: 27%
  }

  #contentE:hover {
    background-color: #111111;
    color: white
  }

  #footer {
    font-family:  'Open Sans', sans-serif;
    position: relative;
  }

  #locations {
    position: relative;
    left: 10%;
    display: inline
  }

  #locA {
    top: 5px;
    left: 10%;
    position: relative;
    width: 20%;
    display: inline;
    list-style-type: none;
  }

  #locB {
    left: 10%;
    position: relative;
    margin-top: 10px;
    width: 20%;
    display: inline;
    list-style-type: none
  }

  #hours {
    position: relative;
    display: inline;
    left: 30%;
    bottom: 180px;
    list-style-type: none;
  }

  #hours-header {
    display: inline
  }

  #hours-list {
    position: relative;
    top: 5px
  }

  #logoTwo {
    position: relative;
    left: 50%;
    bottom: 245px
  }

  .fab {
    font-size:50px;
    height: 50px;
    width: 50px;
    text-align: center;
    border-radius: 5px
  }

  .fab:hover {
    background-color: black;
    color: white
  }

  #facebook {
    position: relative;
    bottom: 300px;
    left: 55%
  }

  #yelp {
    position: relative;
    bottom: 300px;
    left: 60%
  }

  #instagram {
    position: relative;
    bottom: 300px;
    left: 65%
  }

  #rights {
    font-family: 'Open Sans', sans-serif;
    background-color: #333333;
    width: 100%;
    color: white;
    height: 25px;
    text-align: center;
    font-size: 14px;
    font-weight: lighter
  }
